:root {
  --wine: #A50069;
  --electric: #3AFFDC;

  --primary1: #3F0042;
  --primary2: #6C0072;
  --primary3: #841b7b;
  --muted: #e4d9e3;
  --muted-dark: #291428;
  --overlay: hsla(303, 20%, 12%, .9);
  --accent1: #BC0082;
  --accent2: #FF17AC;
  --accent3: #ffe2f6;
  --contrast1: #0072B2;
  --contrast2: #109EFF;
  --contrast3: #CCE8FF;

  --grid-line-color: rgba(255,255,255,.1);
  --text-color: white;

  /* --primary1: white;
  --primary3: white;
  --grid-line-color: #ccc;
  --text-color: black; */

}



body {
  --grid-number: 22;
  --grid-size: calc((100vw - var(--scrollbar-width)) / var(--grid-number));

  @media (max-aspect-ratio: 2/3) {
    --grid-size: 14.3vw;
  }
}

img {
  max-width: 100%;
  height: auto;
}

html {
  scrollbar-gutter: stable;
  font-size: clamp(14px, calc(10px + .5vw), 22px);
  background: linear-gradient(358deg, var(--primary3) 22.94%, var(--primary1) 119.08%), var(--primary1);
  color: var(--text-color);
  font-family: 'Archivo', sans-serif;
}

body {
  background-size: var(--grid-size) var(--grid-size);
  background-image:
    linear-gradient(to right, var(--grid-line-color) .5px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line-color) .5px, transparent 1px),
    linear-gradient(
      45deg,
      transparent,
      transparent calc(50% - 1px),
      var(--grid-line-color) 50.1%,
      transparent 50%
    );
  margin: 0;
  background-position: top left;
  line-height: calc(var(--grid-size) * .5);
}

.wrapper {
  position: relative;
  z-index: 1;
  padding-top: calc(var(--grid-size) * 1);
  margin: 0 var(--grid-size);
  
  @media (min-aspect-ratio: 2/3) {
    display: flex;
    gap: var(--grid-size);
  }

  @media (min-width: 1800px) {
    margin: 0 calc(var(--grid-size) * 2);
  }
}

.left {
  width: calc(var(--grid-size) * 5);
  flex-shrink: 0;
}

.right {
  width: 100%;
  margin-top: var(--grid-size);
}


.tt-placeholder {
  height: calc(var(--grid-size) * 5);
  margin-bottom: var(--grid-size);
}

.tt-placeholder svg {
  width: 100%;
  height: 100%;
}

.name-container {
  text-align: right;
  margin: 0 0 var(--grid-size) var(--grid-size);

  @media (max-aspect-ratio: 2/3) {
    margin: 0 auto var(--grid-size);
  }
}

.name {
  line-height: var(--grid-size);
  margin: 0 0 calc(var(--grid-size) * .5);
  font-size: 3.05vw;
}

.tag {
  margin-bottom: calc(var(--grid-size) * 1.5);
  line-height: calc(var(--grid-size) * .5);
  font-size: 1.7vw;
}

.tag-triange {
  width: calc(var(--grid-size) * 1);
  height: calc(var(--grid-size) * 1);
  fill: var(--accent1);
}

.menu-button {
  margin-top: var(--grid-size);
  display: block;
  margin-left: auto;
}

.footer {
  position: relative;
  min-height: calc(var(--grid-size) * 6);
  margin-top: var(--grid-size);
  padding: var(--grid-size);
}

.footer-triangle {
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: 0;
  width: calc(var(--grid-size) * 16);
  height: calc(var(--grid-size) * 16);
}

.lede {
  margin: 0 0 var(--grid-size);
  line-height: var(--grid-size);
  font-size: calc(1rem + 1vw);
  font-weight: 600;
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--grid-size) * .5);
  margin-bottom: calc(var(--grid-size) * 1.5);

  @media (min-width: 1000px) {
    margin-bottom: var(--grid-size);
    flex-wrap: nowrap;
  }
}

.image-container {
  width: 100%;
  height: calc(var(--grid-size) * 5);
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  background-image:
  linear-gradient(
    -45deg,
    transparent,
    transparent calc(50% - 1px),
    rgba(255,255,255,.5) 50%,
    transparent calc(50% + 1px)
  );
  background-size: 10px 10px;
  background-position: 0 0;
  

  @media (min-width: 1000px) {
    width: calc(var(--grid-size) * 8);
  }
}

.image-container img {
  position: absolute;
  transform: translateY(calc(-1px * var(--scroll-factor)));
  display: block;
}

.work h2 {
  font-size: 1.2rem;
  margin: 0;
  color: var(--electric);
}

.work p {
  margin: 0 0 calc(var(--grid-size) * .5);
}

.button {
  display: inline-block;
  color: white;
  border: 1px solid white;
  line-height: var(--grid-size);
  min-width: calc(var(--grid-size) * 2.5);
  text-align: center;
  text-decoration: none;
  transition: background .2s;
}

.button:hover {
  background: white;
  color: var(--primary1);
}