:root {
  --s1: 10px;
  --s2: 20px;
  --s3: 30px; 
  --bold: 700;
  --avant-garde: itc-avant-garde-gothic-pro, sans-serif;

  --primary1: #3F0042;
  --primary2: #6C0072;
  --primary3: #841b7b;
  --muted: #e4d9e3;
  --muted-dark: #291428;
  --overlay: hsla(303, 20%, 12%, .9);
  --accent1: #BC0082;
  --accent2: #FF17AC;
  --accent3: #ffe2f6;
  --accent4: #fff5fc;
  --contrast1: #0072B2;
  --contrast2: #109EFF;
  --contrast3: #CCE8FF;
  --contrast4: #e8f4ff;

  --projects-width: 33.333%;
  --bio-width: 66.666%;
  --margin: 40px;

  @media (max-width: 950px) {
    --projects-width: 59%;
    --bio-width: 41%;
  }

  @media (min-width: 550px) and (max-width: 767.2px) {
    --margin: 20vw;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background: var(--contrast3);
}

.projects ::selection {
  background: var(--contrast2);
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent1);
}

body::-webkit-scrollbar-track {
  background: var(--muted-dark);
}

@media (max-width: 500px) {
  ::-webkit-scrollbar {
    background: transparent;
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 3px;
  }
  
}

img,
svg,
video {
  max-width: 100%;
  height: auto;  
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-weight: 300;
  font-family: 'Lustria', serif;
  font-size: 17px;
  line-height: 1.4;
  color: var(--primary1);
}

h1,
h2,
h3,
h4,
.bio__tag,
button {
  font-family: var(--avant-garde);
}

button{
  font-weight: 700;
  color: var(--accent1);
}

.container {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__bg {
  opacity: 0;
}

@media (min-width: 767.2px) {
  .bio {
    position: fixed;
  }

  .bio__name {
    width: min(100%, 50vw, 60vh);
  }

  .projects {
    background: var(--primary3);
  }
  
  .projects a {
    color: white;
    text-decoration: none;
  }
}

.bio,
.bio__container {
  height: 100%;
}

.bio__container,
.footer__container {
  width: 608px;
  max-width: 72%;
  margin: auto;
}

.bio__container {
  padding-top: 2vh;
}

.bio__name {
  position: relative;
  text-transform: lowercase;
  margin: 0;
  max-width: 70vh;
  text-align: right;
}

.bio__name svg {
  margin-left: -2.5%;
  max-width: 102.5%;
}

.tyler-trotter {
  fill: var(--primary1);
}

.bio__tag {
  display: block;
  text-transform: uppercase;
  font-weight: 300;
  font-size: clamp(1.2rem, calc(1.4vw + 1.4vh), 3.35rem);
  color: var(--contrast1);
}

.bio__copy {
  font-size: 1.4rem;
  transition: opacity .4s;
}

.scrolled .bio__copy {
  opacity: 0;
}

.bio-bg {
  transform: rotate(21deg) scale(1.2); 
  z-index: -1;
  position: absolute; 
  top: 20px;
  left: 0;
  fill: var(--accent4);
  stroke-width: .1;
  transform-origin: top;
}

.bio__copy p {
  position: relative;
  padding: 20px 0;
}

.bio__copy p:first-child {
  margin: 0;
}

.bio__copy p + p {
  margin-top: 1em;
}

html:not(.scrolled) .footer {
  opacity: 0;
}

.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: var(--bio-width);
  transition: opacity .4s;
}

.footer__container {
  position: relative;
  padding-right: 10%;
  padding-bottom: 5vh;
}

@media (max-width: 1000px) {
  .footer__container {
    max-width: 72%;
  }
}

.pic {
  position: absolute;
  bottom: -3vw;
  right: -10%;
  width: 40%;
  transform: rotate(21deg) translateY(400px);
  transform-origin: bottom center;
  transition: .2s;
}

.scrolled .pic {
  transform: rotate(21deg);
}

.links {
  display: flex;
  border-top: 1px solid var(--primary1);
  margin-top: 1rem;
  padding-top:.5rem;
  gap: 15px;                
}

:root .resume {
  border-bottom: 2px solid var(--muted);
  font-size: 12px;
}

:root .resume:hover {
  border-color: var(--accent2);
}

.links a {
  color: var(--primary1);
  text-decoration: none;
  padding: 5px;
  transition: color .3s;
}

.links a:hover{
  color: var(--accent2);
}

.links svg {
  display: block;
}

.projects {
  position: relative;
  z-index: 3;
  margin-left: auto;
  height: 100%;
  padding: 40px var(--margin);
}

.projects img {
  transition: .2s;
  outline: 0 solid var(--primary1);
}

.projects a {
  display: block;
}

.projects a:hover img {
  transform: scale(.99);
  outline-width: 3px;
}

.projects__list li {
  margin-bottom: 120px;
}

.projects__list {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity .5s;
}

.selected-work-heading {
  /* margin-top: 200px;
  font-size: max(50px, 3.7vw);
  color: var(--primary1);
  line-height: 1; */

  margin-top: 240px;
  margin-bottom: 40px;
  font-size: 20px;
  color: var(--accent3);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
}

@media (max-width: 500px) and (min-height: 750px) {
  /* .project.is-active {
    padding: 3.5vh;
    padding-top: 4.5vh;
  } */

  :root .project__close {
    padding: 1.5vh;
  }
}

.project > .project__heading {
  margin-bottom: 0;
}

.projects__list:not([data-active-cell]) .project .project__heading {
  transition: transform 1s, opacity 1s;
}

.project.is-active .project__content {
  opacity: 1;
  display: block;
  height: initial;
  transition: opacity .5s .5s;
}

.project__content {
  opacity: 0;
  height: 0;
  text-align: left;
  font-size: clamp(.95rem, 1vw, 1.1rem);
}

[data-input='keyboard']:root :focus {
  outline: 3px solid var(--accent2);
}

[data-input='keyboard'] .project:focus {
  border-color: var(--accent2);
  box-shadow: inset 0 0 0 3px var(--accent2);
  z-index: 2;
}

/* prevent focus */
.project .project__cta,
.project .project__close {
  display: none;
}

.project.is-active .project__cta,
.project.is-active .project__close {
  display: inline-block;
}

.project__close {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: 0;
  padding: max(.7vw, 5px);
  opacity: .5;
}

.project__close:hover,
.project__close:focus  {
opacity: 1;           
}

.project__close-svg {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
  stroke: white;
}

.project__heading {
  margin-top: 0;
  font-size: 1.5em;

}

.project__description {
  font-family: var(--avant-garde);
  font-size: 1.2em;
}

.project__cta {
  display: inline-block;
  color: white;
  border: 1px solid white;
  font-family: var(--avant-garde);
  font-weight: var(--bold);
  padding: .8em .8em .5em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  margin-top: 1rem;
  transition: background .2s;
}

.project__cta:hover {
  background: var(--accent1);
}

.bg1 {
  position: absolute;
  width: 2000px;
  /* right: 169.5%; */
  z-index: -1;
  fill: var(--contrast3);
  transform: scale(1.2) rotate(21deg) translateY(-50%) translateX(-136.9%);
}

.bg1 rect:nth-child(1) {
  transition: fill .5s;
}

.bg2 {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  fill: var(--accent3);
}

.bg3 {
  position: fixed;
  /* z-index: 0; */
  top: 0;
  left: var(--bio-width);
  height: 20vh;
  fill: var(--primary2);
}

.bg4 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 25%;
  fill: var(--primary3);
}

.accent-block {
  fill: var(--accent2);
}


@media (min-width: 1100.2px) {
  .bio__container,
  .footer__container {
    max-width: 33vw;
  }

  .bio__copy {
    position: relative;
    margin-left: 58.5%;
    width: 300px;
  }

  .scrolled .bg1 rect:nth-child(1) {
    fill: var(--contrast4);
  }
}

@media (max-width: 1100px) {
  .bio-bg {
    display: none;
  }
  
  .bg1 {
    fill: var(--contrast4);
  }

  .accent-block {
    transform: translateX(100px);
  }

  .footer__container {
    padding-right: 20%;
  }

  .pic {
    bottom: -10%;
    right: 0;
  }
}

@media (min-width: 950.2px) and (max-width: 1025px) {
  .projects {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1100px) {
  .bg2 {
    opacity: 0;
  }
}

@media (min-width: 767.2px) {
  
  .container {
    display: flex;
  }

  .bio {
    width: var(--bio-width);
  }

  .bio__name {
    padding-top: calc(20vh - 80px);
  }

  .projects {
    right: 0;
    width: var(--projects-width);
  }

  .bg2 {
    width: 200px;
    transition: opacity .5s;
  }

  .scrolled .bg2 {
    opacity: 1;
  }

  .bio__copy {
    margin-top: 8vh;
  }

  img {
    background-size: auto auto;
    background-color: var(--primary2);
    background-image: 
      repeating-linear-gradient(111deg, transparent, transparent 4px, var(--primary1) 4px, var(--primary1) 5px);
}
  
}

@media (max-width: 767px) {

  html:not([data-scroll="5"]) .footer {
    opacity: 0;
  }

  .footer__bg {
    display: none;
  }

  .bg2 {
    position: fixed;
    right: -60%;
    bottom: -5px;
    stroke-width: .01px;
    transition: stroke-width .5s;
  }

  [data-scroll="0"] .bg2,
  [data-scroll="5"] .bg2  {
    stroke-width: .1px;
  }

  .bg1 rect:nth-child(1) {
    position: absolute !important;
  }

  .accent-block {
    fill: var(--accent2);
    transform: scale(1.25) translateX(80px);

  }

  .bg2 {
    fill: transparent;
    stroke: var(--accent1); 
  }

  body {
    line-height: 1.3;
  }

  .bg1 {
    top: 0;
    transform: scale(1.2) rotate(21deg) translateY(-50%) translateX(-134.8%);
    /* position: fixed; */
  }

  .bg3 {
    display: none;
  }

  .bg4 {
    width: 100%;
    transition: transform .5s;
    z-index: 2;
  }

  .bg4 polygon {
    transition: transform .5s;
  }

  html:not([data-scroll="5"]) .bg4 {
    transform: translateY(60vw);
    z-index: 1;
  }

  html:not([data-scroll="5"]) .bg4 polygon {
    transform: translateX(10px);
  }

  .bio__copy {
    font-size: min(6.2vw, 1.7rem);
  }
  
  .mobile-accent {
    fill: var(--primary1);
    transform-origin: center center;
    transform: scale(.07) rotate(21deg) translateY(60%) translateX(-450%);
  }

  .footer {
    width: 100%;
    max-width: none;
    left: 0;
    z-index: -1;
    padding-bottom: 50vw;
    color: white;
    font-size: 15px;
    line-height: 1.4;
  }

  .footer__container {
    width: max(60%, 300px);
    max-width: none;
    padding-right: 0;
  }

  [data-scroll="5"] .footer {
    z-index: 3;
  }

  .links {
    border-color: rgba(255,255,255,.3);
  }

  .links a {
    color: var(--accent3);
  }

  .bio__container {
    width: 100%;
    max-width: none;
    padding-left: var(--margin);
    padding-right: var(--margin);
    padding-top: 3.2vh;
  }

  .bio__name {
    padding-top: 3.2vh;
  }

  .bio__tag {
    margin-bottom: 1.5vh;
    text-align: right;
    margin-right: 4.2%;
  }

  :root .pic {
    transform: scale(0.6) rotate(21deg) translateX(-80px) translateY(500px);
    width: 100%;
    bottom: -72vw;
  }

  [data-scroll="5"] .pic {
    left: 0;
    transform: scale(0.6) rotate(21deg) translateX(-80px);
    transition: transform .5s;
  }

  .project__content h2 {
    margin-bottom: .5rem;
  }

  .projects {
    width: 100%;
    padding-bottom: 500px;
  }

  .projects a {
    color: inherit;
    text-decoration: none;
  }

  [data-scroll="5"] .projects__list {
    opacity: .3;
  }

  [data-scroll="5"]  {
    background: var(--muted);
  }

  .selected-work-heading {
    display: none;
  }

  .project__cta {
    color: var(--primary3);
    border-color:  var(--primary3);
  }

  .project__cta:hover {
    background-color: var(--accent3);
  }

  img {
    background-size: auto auto;
    background-color: var(--muted);
    background-image: 
      repeating-linear-gradient(111deg, transparent, transparent 3px, white 3px, white 4px);
  }
}

@media (min-width: 767.2px) and (max-width: 950px) {

  .bio {
    z-index: 1;
  }

  .bio__container {
    max-width: 78%;
  }

  .footer {
    z-index: 10;
    color: white;
    width: 100%;
  }

  .footer__container {
    width: 90%;
    padding-right: 30%;
  }

  .links a {
    color: white;
  }

  .footer__bg {
    position: absolute;
    z-index: -1;
    fill: var(--primary1);
    transform: rotate(21deg) scale(2.7) translateX(130px) translateY(180px);
    transition: opacity .5s;
  }

  .pic {
    bottom: -80px;
    right: 10%;
  }

  .projects__list {
    padding-bottom: 350px;
  }

  .scrolled .footer__bg {
    opacity: 1;
  }
}

@media (max-width: 650px) {
  .links {
    justify-content: flex-end;
  }
}

@media (max-height: 650px) {
  .bio__copy {
    line-height: 1.3;
    font-size: 14px;
    margin-left: 45%;
    width: 75%;
    margin-top: 5vh;
  }
}

@media (max-height: 650px) and (max-width: 1100.2px) {
  .bio__copy {
    margin-left: 0;
    width: 100%;
  }
}